<!DOCTYPE html>
<html lang="en">
<head>

	<% include ../partials/head-kendo %>
	<% include ../partials/head-common %>

	<title>RaÄuni - Partneri</title>

</head>
<body>

<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h4><%= lang.partners_heading %></h4>
			<p class="text-gray">
				<%= lang.click %>
				&nbsp;<span class='glyphicon glyphicon-pencil'></span>&nbsp;
				<%= lang.next_to_partner %> <%= lang.to_edit_or_delete %>.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div id="partnersGrid"></div>
		</div>
	</div>
</div>

<script>
	var export_excel = "<%- lang.export_excel  %>";
	var new_partner = "<%- lang.new_partner  %>";
</script>

<% include ../partials/footer %>

<% include ../partials/body-common %>
<% include ../partials/body-kendo %>
<script src="js/partners.js"></script>

</body>
</html>
